.login-page {
  position: relative;
  height: 100vh;
  background: #f9f9f9;

  .login_content {
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .form_wrapper {
    width: 600px;
    margin: 0 auto;
  }
  .submit_btn {
    background-color: #d2232a;
    color: white;
  }
}
