// Single side border-radius
@mixin border-top-radius($radius) {
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
}

@mixin border-right-radius($radius) {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin border-left-radius($radius) {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
}

// BORDER RADIUS
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}



//   transition 
@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    transition: $transition;
}

//transform
@mixin transform($transform) {
    -ms-transform: $transform;
    /* IE 9 */
    -webkit-transform: $transform;
    /* Chrome, Safari, Opera */
    transform: $transform;
}


@mixin breakpoint($point) {
    @if $point==laptop {
        @media (max-width: 1370px) {
            @content ;
        }
    }

    @else if $point==macbook {
        @media (max-width: 1200px) {
            @content ;
        }
    }

    @else if $point==tablet {
        @media (max-width: 991px) {
            @content ;
        }
    }

    @else if $point==minitab {
        @media (max-width: 768px) {
            @content ;
        }
    }

    @else if $point==mobile_lg {
        @media (max-width: 640px) {
            @content ;
        }
    }

    @else if $point==mobile_md {
        @media (max-width: 575px) {
            @content ;
        }
    }

    @else if $point==mobile_sm {
        @media (max-width: 480px) {
            @content ;
        }

    }

    @else if $point==mobile-xs {
        @media (max-width: 400px) {
            @content ;
        }

    }

    @else if $point==extra_sm {
        @media (max-width: 320px) {
            @content ;
        }

    }
}