html {
    font-family: $reg;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: $reg;
    font-size: $f1;
    margin: 0;
    color: $p;
}

// Typography
h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

h4 {
    font-size: $h4;
}

h5 {
    font-size: $h5;
}

h6 {
    font-size: $h6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black;
    font-weight: 700;
    font-family: $med;
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: $line;
    margin-top: 0;
}

h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
    color: $black;
    font-weight: 700;
}

p {
    font-size: $f3;
    margin-bottom: 5px;
    margin-top: 0;
    color: $p;
    line-height: 1.55;
}

a {
    color: $base1;
    transition: $transition;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: $base1;
}

img {
    max-width: 100%;
}


/**
 * 4.0 - Forms
 */

input {
    line-height: normal;
}

/*button,
button[disabled]:hover,
button[disabled]:focus,*/
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
    font-size: 1em;
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

/* 
button:hover,
button:focus,*/
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background: $base2;
    color: $base1;
}

/*button:focus,*/
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: thin dotted;
    outline-offset: -4px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #686868;
    padding: 0.625em 0.4375em;
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
    background-color: #fff;
    border-color: #007acc;
    color: #1a1a1a;
    outline: 0;
}

::-webkit-input-placeholder {
    color: #b0b0b0;
}

::-moz-placeholder {
    color: #b0b0b0;
}

:-ms-input-placeholder {
    color: #b0b0b0;
}

:-moz-placeholder {
    color: #b0b0b0;
}


/**
 * 5.0 - Alignments
 */

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 1.75em;
}

blockquote.alignleft {
    margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

blockquote.alignright {
    margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

blockquote.aligncenter {
    margin-bottom: 1.473684211em;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}


ul,
ol {
    display: inline-block;
    padding: 0;
    margin: 0;
}